<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand img">
   <h13> <%= image_tag "logo.png", class: "logo" %> </h13>
  </a>
 <a href="/" class="navbar-wagon-brand text-center big">
   <h13> <%= image_tag "logo2.png", class: "big" %> </h13>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <!-- Text link -->

      <%= link_to "All Films", films_path, class: "navbar-wagon-item navbar-wagon-link" %>




  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "All Films", films_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

</div>