


<div class="container">
    <br><br><br>
    <h1 class="text-center">Video du jour</h1><br><br>
    <IFRAME class="iframevideo" SRC="<%= @film.last.link %>" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO allowfullscreen="true" WIDTH=100% HEIGHT=500></IFRAME><br>
</div>

